
html
  head
    link(rel='stylesheet', href='app.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js')
    script(src='app.js')

  body
    h1 4WD Sprinter
    img.van(src="http://www.4x4offroads.com/image-files/mercedes-benz-sprinter-4x4-inch-70.jpg")
    
    h2 this bad boy is sexy
    h2 this bad boy is sexy
    
    table
      thead
        td a
        td b
        td c
      tbody
        tr
          td 1
          td 2
          td 3
      tfooter
      
    ul
      li a
      li a
      li a
      ul
        li a
        li a
      li a
        
    
